body {
    font-family: 'Montserrat', sans-serif;
    font-size: .85vw;
    line-height: 1.8em;
    margin: 0;
    color: #575757;
}

h1 {
    font-size: 4vw;
    line-height: 1em;
    margin: 0 0 10px;
}

h2 {
    font-size: 2.5vw;
    line-height: 1em;
    margin: 0 0 10px;
}


/* Utility Classes */
.container {
    max-width: calc(1200px + 12%);
    margin: auto;
    padding: 6%;
}

.flex-container {
    display: flex;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: .9vw;
    letter-spacing: 1px;
    text-transform: capitalize;
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    color: #ffffff;
    padding: 3.5% 8%;
    border-radius: 50px;
    box-shadow: 0 0 15px 2px #fba24fa8;
}

.button:hover {
    background-image: linear-gradient(45deg, #FF1E1E, #FF1E1E);
}

.orange-text {
    color: #FC8B47;
}

.gray-text {
    color: #828282;
}


/* Nav Menu */
nav {
    box-shadow: 0 0 15px 1px #00000025;
}

nav .container {
    padding: .75% 6%;
}

nav .half-width:first-child {
    display: flex;
    align-items: center;
}

nav .logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 2vw;
    color: #0B0D17;
}

.menu-div {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.menu-div li {
    display: inline-block;
}

.menu-div li a {
    text-decoration: none;
    color: #0B0D17;
    font-weight: 500;
    padding: 5px 20px;
}

.menu-div li a:hover {
    color: #FF1E1E;
}


/* Hero section */
.hero-section {
    background: url("images/dotted-bg.svg") no-repeat 85% 80% / 15%;
}

.hero-section .container div:first-child {
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section p {
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.5em;
    margin: 2.5% 0 7.5%;
}


/* Section Two */
.section-two {
    background: url("images/7.png") no-repeat center / cover;
}

.section-two .container div:nth-child(2) {
    padding: 0 0 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-two p {
    margin: 1.5% 0 5%;
}


/* Section Three */
.receipe-intro {
    width: 50%;
    text-align: center;
    margin: auto;
}

.receipe-intro p {
    margin: 4% 0 7.5%;
}

.receipe-item {
    padding: 1.5%;
    box-shadow: 0 0 15px 1px #00000025;
    border-radius: 25px;
    flex: 1;
}

.receipe-item:first-child {
    margin: 0 3% 0 0;
}

.receipe-item:nth-child(2) {
    margin: 0 1.5% 0;
}

.receipe-item:last-child {
    margin: 0 0 0 3%;
}

.receipe-item h3 {
    margin: 7.5% 0 1%;
}


/* Section 4 */
.section-four .container {
    padding: 0 6% 6%;
}

.section-four .div-shadow {
    box-shadow: 0 0 15px 1px #00000025;
    border-radius: 25px;
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
}

.section-four h2 {
    color: #2b2b2b;
}

.section-four p {
    margin-bottom: 0;
}

/* Section Five */
.section-five {
    background: url("images/7.png") no-repeat center / cover;
}

.section-five h2 {
    text-align: center;
    margin-bottom: 5%;
}

.individual-review {
    background: #ffffff;
    padding: 5%;
    box-shadow: 0 0 15px 1px #fba24f41;
    border-radius: 25px;
    flex: 1;
}

.individual-review:first-child {
    margin-right: 2.5%;
}

.individual-review:last-child {
    margin-left: 2.5%;
}

.individual-review img {
    max-width: 20%;
}

.individual-review h4 {
    margin: 5% 0 0;
}

.individual-review h5 {
    margin: 0;
    font-weight: 400;
}

/* Footer */
footer {
    background: #0B0D17;
    text-align: center;
    color: #cecece;
}

footer .container {
    padding: 3%;
}

footer p {
    margin: 0;
    font-size: .7vw;
}


